# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
package-lock.json
.firebaserc
firebase.json
.firebase/hosting.LmZpcmViYXNlL3BvcnRmb2xpby13ZWJzaXRlLTI4MTQyL2hvc3Rpbmc.cache
.firebase/portfolio-website-28142/hosting/404.html
.firebase/portfolio-website-28142/hosting/animoji.mp4
.firebase/portfolio-website-28142/hosting/CartoonGuy.JPEG
.firebase/portfolio-website-28142/hosting/CartoonGuy.PNG
.firebase/portfolio-website-28142/hosting/favicon.ico
.firebase/portfolio-website-28142/hosting/index.html
.firebase/portfolio-website-28142/hosting/photo.jpeg
.firebase/portfolio-website-28142/hosting/RichardByersCircle.jpeg
.firebase/portfolio-website-28142/hosting/RichardByersCircle.png
.firebase/portfolio-website-28142/hosting/_next/static/0pLtg3kkoyUiJST_brpVp/_buildManifest.js
.firebase/portfolio-website-28142/hosting/_next/static/0pLtg3kkoyUiJST_brpVp/_ssgManifest.js
.firebase/portfolio-website-28142/hosting/_next/static/chunks/69-ddc5857f79062365.js
.firebase/portfolio-website-28142/hosting/_next/static/chunks/190-99c9ef72aa8a686a.js
.firebase/portfolio-website-28142/hosting/_next/static/chunks/250-4dba02d30c62aeda.js
.firebase/portfolio-website-28142/hosting/_next/static/chunks/830-f577c5444bc242c3.js
.firebase/portfolio-website-28142/hosting/_next/static/chunks/fd9d1056-4f0450cda0da8fa1.js
.firebase/portfolio-website-28142/hosting/_next/static/chunks/framework-aec844d2ccbe7592.js
.firebase/portfolio-website-28142/hosting/_next/static/chunks/main-app-6336e8b2ec28a847.js
.firebase/portfolio-website-28142/hosting/_next/static/chunks/main-d8d236ecc413f34f.js
.firebase/portfolio-website-28142/hosting/_next/static/chunks/polyfills-c67a75d1b6f99dc8.js
.firebase/portfolio-website-28142/hosting/_next/static/chunks/webpack-000f9bc3e51e82e0.js
.firebase/portfolio-website-28142/hosting/_next/static/chunks/app/layout-785cb6ed65e3bc0b.js
.firebase/portfolio-website-28142/hosting/_next/static/chunks/app/not-found-a21bb983648c6dfd.js
.firebase/portfolio-website-28142/hosting/_next/static/chunks/app/page-bb3f26779e177246.js
.firebase/portfolio-website-28142/hosting/_next/static/chunks/pages/_app-75f6107b0260711c.js
.firebase/portfolio-website-28142/hosting/_next/static/chunks/pages/_error-9a890acb1e81c3fc.js
.firebase/portfolio-website-28142/hosting/_next/static/css/0909f2db621ce91c.css
.firebase/portfolio-website-28142/hosting/_next/static/media/02efd5599d3504ed-s.p.otf
.firebase/portfolio-website-28142/hosting/_next/static/media/88325a2c1fede2f4-s.woff2
.firebase/portfolio-website-28142/hosting/_next/static/media/634216363f5c73c1-s.woff2
.firebase/portfolio-website-28142/hosting/_next/static/media/aec774cbe1963439-s.woff2
.firebase/portfolio-website-28142/hosting/_next/static/media/CSS-Logo.7a7b77ec.png
.firebase/portfolio-website-28142/hosting/_next/static/media/d83fe381bb17eb77-s.woff2
.firebase/portfolio-website-28142/hosting/_next/static/media/DBeaver.a8a379c2.png
.firebase/portfolio-website-28142/hosting/_next/static/media/docker.888df998.png
.firebase/portfolio-website-28142/hosting/_next/static/media/e1c529c04de64b40-s.p.woff2
.firebase/portfolio-website-28142/hosting/_next/static/media/ExpressJS.e85181dd.png
.firebase/portfolio-website-28142/hosting/_next/static/media/Flask.379b392e.png
.firebase/portfolio-website-28142/hosting/_next/static/media/git.3337db5a.png
.firebase/portfolio-website-28142/hosting/_next/static/media/GitLabCI.4b672220.png
.firebase/portfolio-website-28142/hosting/_next/static/media/html5.5faed4ed.png
.firebase/portfolio-website-28142/hosting/_next/static/media/IntelliJ.84d29191.png
.firebase/portfolio-website-28142/hosting/_next/static/media/java.020d174f.png
.firebase/portfolio-website-28142/hosting/_next/static/media/javascript.80891722.png
.firebase/portfolio-website-28142/hosting/_next/static/media/macos.192c7218.png
.firebase/portfolio-website-28142/hosting/_next/static/media/nodejs.86bf3895.png
.firebase/portfolio-website-28142/hosting/_next/static/media/PHP_logo.98b0b6dd.png
.firebase/portfolio-website-28142/hosting/_next/static/media/postgres.f7018783.png
.firebase/portfolio-website-28142/hosting/_next/static/media/postman.1edcc07b.svg
.firebase/portfolio-website-28142/hosting/_next/static/media/python.28f99a38.png
.firebase/portfolio-website-28142/hosting/_next/static/media/react.ad6ea354.png
.firebase/portfolio-website-28142/hosting/_next/static/media/SpringtBoot.0f605d1a.png
.firebase/portfolio-website-28142/hosting/_next/static/media/SQLServer.02d0014c.png
.firebase/portfolio-website-28142/hosting/_next/static/media/typescript.ccdf44e2.png
.firebase/portfolio-website-28142/hosting/_next/static/media/vscode.4f8e47cd.png
.firebase/portfolio-website-28142/hosting/_next/static/media/Windows.eb90de99.png
